<div class="page-container">
    <h2>Office details</h2>
    <button (click)="deleteOffice()">{{'GENERAL.BUTTON.DELETE' | translate}}</button>
    <table>
        <tr>
            <td>
                {{'GENERAL.NAME' | translate}}:
            </td>
            <td>
                {{office?.name}}
            </td>
        </tr>
        <tr>
            <td>
                {{'GENERAL.AREA' | translate}}:
            </td>
            <td>
                {{office?.area}}
            </td>
        </tr>

    </table>
    <app-office-table-table [office]="office" [readOnly]="true" />
    <button (click)="updateOffice()">{{'GENERAL.BUTTON.EDIT' | translate}}</button>
</div>