li{
    list-style-type: none;
    display: inline;
    padding: 8px;
    margin-right: 15px;
    text-align: center;
    color: white;
}

.nav-button:hover {
    background-color: #2d68a3;
    cursor: pointer;
}

ul {
    display: block;
    align-content: center;
    padding: 8px 0;
    margin: 0;

}

nav {
    padding-left: 15px;
    background-color: #004f9f;
}

app-navbar::after {
    clear: both;
}