li {
    list-style-type: none;
    display: inline;
    padding: 8px;
    text-align: center;
}

.nav-button:hover {
    background-color: #a5a5a5;
    cursor: pointer;
}

ul {
    display: block;
    align-content: center;
    padding: 8px 0;
    margin: 0;

}

nav {
    background-color: #dddddd;
}

app-navbar::after {
    clear: both;
}