<div class="page-container">
    <h2>Create a new employee</h2>
    <table>
        <tr>
            <td>{{'GENERAL.FIRST_NAME' | translate}}: <input type="text" minlength="1" [(ngModel)]="newEmployeeForm.firstName"/></td>
        </tr>
        <tr>
            <td>
                {{'GENERAL.LAST_NAME' | translate}}: <input type="text" [(ngModel)]="newEmployeeForm.lastName"/>
            </td>
        </tr>
        <tr>
            <td>{{'GENERAL.ADDRESS' | translate}}: <input type="text" [(ngModel)]="newEmployeeForm.address"/></td>
        </tr>
        <tr>
            {{'GENERAL.START_DATE' | translate}}: <input type="date" [(ngModel)]="newEmployeeForm.startDate"/>
        </tr>
    </table>
    <button (click)="createNewEmployee()">{{'GENERAL.BUTTON.CREATE' | translate}}</button>
    <br>
    @if (showError) {
        <span>{{errorMessage}}</span>
    }
</div>