<div class="page-container">
    <form>
        <table>
            <tr>
                <td>{{'GENERAL.NAME' | translate}}: <input type="text" [ngModel]="office?.name"></td>
            </tr>
            <tr>
                <td>
                    {{'GENERAL.AREA' | translate}}: <input type="text" [ngModel]="office?.area" />
                </td>
            </tr>
            <tr>
                <td>{{'GENERAL.CAPACITY' | translate}}: <input type="text" [ngModel]="office?.capacity" /></td>
            </tr>
            <tr>
                <app-office-table-table [office]="office"/>
            </tr>
        </table>
        <button (click)="updateOffice()">{{'GENERAL.BUTTON.EDIT' | translate}}</button>
    </form>
</div>
