<div class="page-container">
    <h2>Update of office</h2>
    <table>
        <tr>
            <td>
                {{'GENERAL.NAME' | translate}}:
            </td>
            <td>
                <input type="text" [(ngModel)]="office!.name">
            </td>
        </tr>
        <tr>
            <td>
                {{'GENERAL.AREA' | translate}}:
            </td>
            <td>
                <input type="text" [(ngModel)]="office!.area" />
            </td>
        </tr>
    </table>
    <app-office-table-table [office]="office" [readOnly]="false" />
    <button (click)="updateOffice()">{{'GENERAL.BUTTON.UPDATE' | translate}}</button>
</div>