<div class="page-container">
    <h2>Employee detail</h2>
    <button (click)="deleteEmployee()">{{'GENERAL.BUTTON.DELETE' | translate}}</button>
    <table>
        <tr>
            <td>{{'GENERAL.FIRST_NAME' | translate}}: {{employee?.firstName}}</td>
        </tr>
        <tr>
            <td>
                {{'GENERAL.SURNAME' | translate}}: {{employee?.lastName}}
            </td>
        </tr>
        <tr>
            <td>{{'GENERAL.ADDRESS' | translate}}: {{employee?.address?.street}} {{employee?.address?.number}},
                {{employee?.address?.zip}} {{employee?.address?.city}},
                {{employee?.address?.country}}</td>
        </tr>

    </table>
    <button (click)="updateEmployee()">{{'GENERAL.BUTTON.EDIT' | translate}}</button>
</div>
