<h3>Office tables</h3>
<table>
    <thead>
        <th>{{'GENERAL.NAME' | translate}}</th>
        <th>{{'GENERAL.UTILIZED_AREA' | translate}}</th>
        <th></th>
    </thead>
    <tbody>
        @for (table of office?.tables; track table) {
        <tr>
            <td>{{table.name}}</td>
            <td>{{table.utilizedArea}}</td>
            @if (!readOnly) {
            <td>
                <button (click)="setTableForEditing(table)">{{'GENERAL.BUTTON.EDIT' | translate}}</button>
                <button (click)="deleteTable(table)">{{'GENERAL.BUTTON.DELETE' | translate}}</button>
            </td>
            }
        </tr>
        }
            Name: <input type="text" [(ngModel)]="selectedTable.name" />
            Utilized area: <input type="text" [(ngModel)]="selectedTable.utilizedArea"/>
            <button (click)="createNewTable()">Save table</button>
    </tbody>
</table>