<div class="page-container">
    <form>
        <table>
            <tr>
                <td>{{'GENERAL.NAME' | translate}}: <input type="text"></td>
            </tr>
            <tr>
                <td>
                    {{'GENERAL.AREA' | translate}}: <input type="text"/>
                </td>
            </tr>
            <tr>
                <td>{{'GENERAL.CAPACITY' | translate}}: <input type="text"></td>
            </tr>
            <tr>
                <td>TODO Office table</td>
            </tr>
        </table>
        <input type="submit" value="{{'GENERAL.BUTTON.CREATE' | translate}}">
    </form>
</div>
