<div class="page-container">
    <h2>{{'GENERAL.NEW_OFFICE_TITLE' | translate}}</h2>
        <table>
            <tr>
                <td>{{'GENERAL.NAME' | translate}}: <input type="text" [(ngModel)]="office.name"></td>
            </tr>
            <tr>
                <td>
                    {{'GENERAL.AREA' | translate}}: <input type="text" [(ngModel)]="office.area"/>
                </td>
            </tr>
        </table>
        <app-office-table-table [office]="office" [readOnly]="false"/>
        <button  (click)="createOffice()">{{'GENERAL.BUTTON.CREATE_OFFICE' | translate}}</button>
</div>
