<div class="page-container">
    <table>
        <tr>
            <td>{{'GENERAL.FIRST_NAME' | translate}}: <input type="text" minlength="1" [(ngModel)]="employee!.firstName"></td>
        </tr>
        <tr>
            <td>
                {{'GENERAL.LAST_NAME' | translate}}: <input type="text" [(ngModel)]="employee!.lastName" />
            </td>
        </tr>
        <tr>
            <td>{{'GENERAL.ADDRESS' | translate}}: <input type="text"
                    [(ngModel)]="employee!.address" /></td>
        </tr>
    </table>
    <input type="hidden" [ngModel]="employee?.id" />
    <button (click)="updateEmployee()">{{'GENERAL.BUTTON.UPDATE' | translate}}</button>
</div>