<div class="page-container">
    <form>
        <table>
            <tr>
                <td>{{'GENERAL.FIRST_NAME' | translate}}: <input type="text" minlength="1" [ngModel]="employee?.firstName" *ngIf="employee"></td>
            </tr>
            <tr>
                <td>
                    {{'GENERAL.LAST_NAME' | translate}}: <input type="text" [ngModel]="employee?.lastName"/>
                </td>
            </tr>
            <tr>
                <td>{{'GENERAL.ADDRESS_FIELD.STREET' | translate}}: <input type="text" [ngModel]="employee?.address?.street"/></td>
                <td>{{'GENERAL.ADDRESS_FIELD.HOUSE_NUMBER' | translate}}: <input type="text" [ngModel]="employee?.address?.number"/></td>
            </tr>
            <tr>
                <td>{{'GENERAL.ADDRESS_FIELD.ZIP' | translate}}: <input type="text" [ngModel]="employee?.address?.zip" /></td>

                <td>{{'GENERAL.ADDRESS_FIELD.CITY' | translate}}: <input type="text" [ngModel]="employee?.address?.city" /></td>
            </tr>
            <tr>
                <td>{{'GENERAL.ADDRESS_FIELD.COUNTRY' | translate}}: <input type="text" [ngModel]="employee?.address?.country" /></td>
            </tr>
        </table>
        <input type="submit" value="{{'GENERAL.BUTTON.UPDATE' | translate}}">
    </form>
</div>