<div class="page-sub-container">
    <div class="left-container  border-right">
        <h1> TEst</h1>
        <!-- <button (click)="showCreateEmployeeForm()">+</button> -->
        <!-- <app-employee-list (selectedEmployeeEvent)="showEmployeeDetails($event)"/> -->
    </div>

    <div class="right-container">
    <!-- @if (showDetail) {
    <app-employee-details [employee]="selectedEmployee" (updateEmployeeEvent)="showUpdateEmployeeForm()"/>
    }

    @if (showCreateForm) {
    <app-employee-create-form/>
    }


    @if (showEditForm) {
    <app-employee-update-form [employee]="selectedEmployee"/>
    } -->
    </div>
</div>