/* You can add global styles to this file, and also import other style files */
@use 'sass:color';

$primary-color: #004f9f;
$secondary-color: white;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;  
    
}

app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-main-container {
  
    height: 100%;
}

app-navbar {
    height: 4%;
}

app-title {
    height: 6%;
}

button {
    background-color: $primary-color;
    color: $secondary-color;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
}
button:hover {
    background-color: color.adjust($primary-color, $blue: -30);
}

td {
    padding-right: 15px;
}

.entity-list li {
    list-style: none;
    font-size: 18pt;
    font-weight: 600;
    padding: 15px 5px;
    width: 80%;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.entity-list li:last-child {
    border-bottom: none;
}

.entity-list {
    margin: 0;
    padding: 0;
}

.page-sub-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 90%;
}

.page-container {
    padding: 15px;
}


* {
    font-family: Arial, Helvetica, sans-serif;
}


.border-right {
    border-right: 1px solid rgb(187, 187, 187);
}

.left-container {
    flex-grow: 1;
}

.right-container {
    flex-grow: 8;
}

.page-title {
    padding: 15px;
}